# https://www.scala-sbt.org/1.x/docs/GitHub-Actions-with-sbt.html
name: CI
on:
  pull_request:
  push:
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            java: 8
            spark: 3.1.1
            jobtype: 4
          - os: ubuntu-latest
            java: 8
            spark: 3.1.1
            jobtype: 5
          - os: ubuntu-latest
            java: 8
            spark: 2.4.3
            jobtype: 4
          - os: ubuntu-latest
            java: 8
            spark: 2.4.3
            jobtype: 5
    runs-on: ${{ matrix.os }}
    env:
      # define Java options for both official sbt and sbt-extras
      JAVA_OPTS: -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
      JVM_OPTS:  -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup
        uses: olafurpg/setup-scala@v10
        with:
          java-version: "adopt@1.${{ matrix.java }}"
      - name: Coursier cache
        uses: coursier/cache-action@v5
      - name: Build and test
        run: |
          case ${{ matrix.jobtype }} in
            1)
              sbt -v "mimaReportBinaryIssues; scalafmtCheckAll; +test;"
              ;;
            2)
              sbt -v "scripted actions/*"
              ;;
            3)
              sbt -v "dependency-management/*"
              ;;
            4)
              sbt -v -Dspark.version="${{ matrix.spark }}" +test
              ;;
            5)
              sbt -v -Dspark.version="${{ matrix.spark }}" clean coverage test coverageReport
              ;;
            *)
              echo unknown jobtype
              exit 1
          esac
          rm -rf "$HOME/.ivy2/local" || true
          find $HOME/Library/Caches/Coursier/v1        -name "ivydata-*.properties" -delete || true
          find $HOME/.ivy2/cache                       -name "ivydata-*.properties" -delete || true
          find $HOME/.cache/coursier/v1                -name "ivydata-*.properties" -delete || true
          find $HOME/.sbt                              -name "*.lock"               -delete || true
        shell: bash
